<% layout('layout-head') -%>

<% block('head', `
    <title>就是論壇 - ${layout_data.categories_type}</title>
    <meta name="description" content="就是論壇，就是要分享 -${layout_data.categories_list}">

    <meta itemprop="description" content="就是論壇，就是要分享 -${layout_data.categories_list}">
    <meta itemprop="name" content="就是論壇">
    <meta itemprop="image" content="${layout_data.url}img/favicon.png">

    <meta property="og:title" content="就是論壇" />
    <meta property="og:type" content='website' />
    <meta property="og:url" content="${layout_data.url}" />
    <meta property="og:description" content="就是論壇" />
    <meta property="og:image" content="${layout_data.url}img/favicon.png" />
`) -%>
<%include layout-banner %>
<%include layouy_navbar %>

<section class="container">
    <div class="row">
        <div id="article_list" class="col-md-9" v-infinite-scroll="loadMore" infinite-scroll-disabled="busy"
            infinite-scroll-distance="start" data-key="<%=csrfToken%>" data-type="<%=path_type[1]%>">
            <div class="card mb-2">
                <div class="card-header py-1">
                    <div class="h5 m-0"><%=layout_data.categories_type%>-標籤</div>
                </div>
                <div class="d-flex flex-wrap justify-content-between justify-content-sm-start text-nowrap card-body forum-link-style">

                    <button @click="get_type_tag('<%=path_type[1]%>','最新文章')"
                        class="bg-light rounded border p-2 mx-1 mb-2" data-type="new">
                        <i class="fas fa-water"></i>
                        <span>最新文章</span>
                    </button>

                    <button @click="get_type_tag('<%=path_type[1]%>','最多人觀看')"
                        class="bg-light rounded border p-2 mx-1 mb-2 eye-link-style" data-type="most">
                        <i class="fas fa-eye mr-1 most">
                            <i class="fas fa-eye mr-1"></i>
                        </i>
                        <span>最多人觀看</span>
                    </button>
                    <%for(key in layout_data.categories_tag){%>
                    <button @click="get_type_tag('tag','<%=layout_data.categories_tag[key].name%>')"
                        class="btn bg-light rounded border p-2 mx-1 mb-2">
                        <%=layout_data.categories_tag[key].name%>
                    </button>
                    <%}%>

                </div>
            </div>

            <div id="article_views" class="card mb-2">
                <div class="card-header py-1">
                    <div class="h5 m-0">文章列表</div>
                </div>
                <div class="card-body">

                    <div class="data-sort">

                        <div class="form-inline px-1 px-sm-3">
                            <h3 class="h4">{{tag}}</h3>
                            <i class="fas fa-list ml-auto"></i>
                            <select class="form-control-sm ml-1" v-model="selected">
                                <option value="new" selected>最新發布</option>
                                <option value="hot">最多觀看</option>
                            </select>
                            
                        </div>

                    </div>

                    <hr class="my-1">

                    <ul class="p-0 overflow-hidden" style="list-style-type: none;">
                        <li v-for="item in article_show" class="d-block d-md-flex border-bottom px-2 py-3 animated fadeInUp">
                            <div class="img-thumbnail forum-wh-md-150 mr-md-3 mb-2 mb-md-0">
                                <div v-if="item.content.split('/-justforum-/')[2] == '' "
                                    class="img-cover w-100 h-100"
                                    :style="{'background-image': 'url(/img/no_img.png)'}"></div>
                                <div v-else class="img-cover w-100 h-100"
                                    :style="{'background-image': 'url('+ item.content.split('/-justforum-/')[2] + ')'}">
                                </div>
                            </div>

                            <div class="media-body overflow-auto d-flex flex-column">
                                <div class="overflow-auto forum-w-md-100">
                                    <a class="text-dark" :href="'/article?id='+ item.id" target="_blank">
                                        <h5 class="mt-0 font-weight-bold text-break">{{item.title}}</h5>
                                    </a>
                                    <p class="m-0 text-break">{{item.content.split('/-justforum-/')[1]}}
                                        <span>...(<a :href="'/article?id='+ item.id"
                                                target="_blank">繼續閱讀</a>)</span></p>
                                </div>


                                <div class="text-right text-nowrap overflow-auto mt-auto">
                                    <i class="fas fa-user"></i>
                                    <span>{{item.name}}</span>
                                    <i class="fas fa-clock"></i> {{todate(item.editor_time)}}
                                    <i class="fas fa-eye mr-1"></i>
                                    {{ parseInt(item.watch) > 10000 ? (parseInt(item.watch)/10000).toFixed(2)+'萬'  : item.watch }}
                                </div>
                                <div v-if="item.tag" class="text-right text-nowrap overflow-auto mt-1">

                                    <div class="tag-box d-inline-block rounded text-secondary mr-1 px-1 text-truncate"
                                        v-for="tag_list in item.tag.substr(0, item.tag.length-1).split(' ')"
                                        :title="tag_list">
                                        #{{tag_list}}
                                    </div>

                                </div>

                            </div>
                        </li>
                    </ul>

                    <div class="text-center text-secondary">
                        <img v-if="!ending" src="/images/loading.gif" alt="">
                        <template v-if="ending && data !== 'nodata'">---已經到底了喔---</template>
                        <template v-if="data == 'nodata'">---沒有資料喔---</template>
                    </div>
                </div>
            </div>

        </div>
        <%include layout_aside %>
    </div>
</section>
<% script('/js/vue.min.js') -%>
<% script('/js/forum.js') -%>