<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%-blocks.head%>

    <script src="/socket.io/socket.io.js"></script>
    <script id="socket_">
        var socket = io();
    </script>
    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
</head>

<body class="overflow-hidden">
    <div class="loading_animate d-flex flex-column justify-content-center align-items-center">
        <i class="fab fa-asymmetrik"></i>
    </div>
    <header class="fixed-top">
        <div class="navbar-dark bg-dark">
            <div class="container d-md-flex py-1">
                <div class="d-flex align-items-center">
                    <button id="menu-show" class="d-md-none btn-toggle mr-2" type="button">
                        <span></span>
                    </button>
                    <a class="navbar-brand d-flex align-items-center" href="/">
                        <i class="fab fa-asymmetrik mr-2 mb-0 h2"></i>
                        <%if(path_type.length){if(path_type.length < 3 && path_type[0] == 'home'){%>
                            <h1 class="h4 my-1">就是論壇</h1>
                        <%}else{%>
                            <h2 class="h4 my-1">就是論壇</h2>
                        <%}}%>
                    </a>
                    <div class="navbar-collapse" id="navbarNav">
                        <ul class="d-none d-md-flex flex-row navbar-nav">
                            <!-- <li class="nav-item px-2<%if(path_type){if(path_type[0] == 'justcontrol'){%> active<%}}%>">
                                <a class="nav-link" href="/justcontrol" target="_blank">就是監控</a>
                            </li> -->
                            <%if(layout_data.system){if(layout_data.system ==='ok'){%>
                            <li class="nav-item px-2<%if(path_type){if(path_type[0] == 'dashboard'){%> active<%}}%>">
                                <a class="nav-link" href="/dashboard">主控台</a>
                            </li>
                            <%}}%>
                        </ul>
                    </div>
                    
                    <button id="search-min" class="d-md-none px-2 ml-auto mr-1" type="button">
                        <i class="fas fa-search"></i>
                    </button>


                    <%if(auth !==''){%>
                    <a class="d-md-none user dropdown" href="#" data-toggle="dropdown">
                        <i class="fas fa-user"></i>
                        <%if(layout_data.user.sticker_img){%>
                        <div class="user_sticker img-cover"
                            style="background-image: url(<%=layout_data.user.sticker_img%>)"></div>
                        <%}%>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/user">帳號中心</a>
                            <a class="dropdown-item" href="/article/create">發表文章</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/signin/signout">登出</a>
                        </div>
                    </a>
                    <%}else{%>
                        <a class="d-md-none user" href="/signin<%if(layout_data.url){%><%='?reurl='+layout_data.url%><%}%>">
                            <i class="fas fa-user"></i>
                        </a>
                    <%}%>
                </div>
                
                <div class="d-none d-md-flex ml-auto show" id="LeftNavbar">
                    <div class="d-flex align-items-center">
                        <div class="search rounded border bg-light ml-2">
                            <form action="/search" method="get">
                                <input type="search" name="q" placeholder="Search">
                                <button class="pl-0" type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </div>

                    <div class="form-inline text-light ml-3">
                        <%if(auth ==''){%>
                        <a href="/signin<%if(layout_data.url){%><%='?reurl='+layout_data.url%><%}%>" class="btn btn-primary mr-2">登入/註冊</a>
                        <%}else{%>

                        <a class="user dropdown" href="/user" data-toggle="dropdown">
                                    <i class="fas fa-user"></i>
                                    <%if(layout_data.user.sticker_img){%>
                                    <div class="user_sticker img-cover" style="background-image: url(<%=layout_data.user.sticker_img%>)">
                                    </div>
                                    <%}%>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="/user">帳號中心</a>
                                <a class="dropdown-item" href="/article/create">發表文章</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/signin/signout">登出</a>
                            </div>
                        </a>
                        <%}%>
                    </div>
                </div>
                <nav id="nav_bar" class="d-md-none kind-tag-min px-2 mb-1 w-over-auto animated">
                    <div class="nav flex-nowrap text-nowrap" id="nav-tab">
                        <a class="<%if(path_type[0] == 'home' && path_type.length == 1){%>active<%}%>" href="/">首頁</a>
                        <%for(key in layout_data.categories){%>
                            <a class="
                            <%if(path_type.length >= 2){if(path_type[1] == layout_data.categories[key].path){%>active<%}}%>"
                            href="/forum?t=<%=layout_data.categories[key].path%>"><%=layout_data.categories[key].name%></a>
                        <%}%>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main class="nim-h">
        <div class="img-b<%if(path_type){if(path_type.length == 1){%> index<%}}%>"></div>
        <div id="particles-js" class="particles"></div>
        <div class="search-close"></div>
        <div class="left-close"></div>
        
        <div class="d-md-none search-min bg-light px-3 py-2">
            <div class="border-bottom border-secoundary ml-2">
                <form action="/search" method="get">
                    <button class="pl-0" type="submit"><i class="fas fa-search"></i></button>
                    <input name="q" type="search" placeholder="Search">
                </form>
            </div>
        </div>
        <div class="d-md-none left-menu py-1 text-light">
            <div class="d-flex flex-column h-100 overflow-auto">
                <div class="card rounded-0 card-toggle">
                    <div class="card-header bg-black rounded-0 d-flex justify-content-between align-items-center">
                        公告
                        <i class="fas fa-chevron-down open"></i>
                    </div>
                    <div class="card-body bg-dark">
                        <%=layout_data.announcement || '無。'%>
                    </div>
                </div>
                <!-- <div class="card rounded-0 card-toggle">
                    <div class="card-header bg-black rounded-0 d-flex justify-content-between align-items-center">
                        快速導覽
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="card-body bg-dark p-0" style="display:none;">
                        <a class="nav-link text-light opacity-2<%if(path_type){if(path_type[0] == 'justcontrol'){%> opacity<%}}%>" href="/justcontrol" target="_blank">就是監控</a>
                            <%if(layout_data.system){if(layout_data.system ==='ok'){%>
                            <a class="nav-link text-light opacity-2<%if(path_type){if(path_type[0] == 'dashboard'){%> opacity<%}}%>" href="/dashboard">主控台</a>
                            <%}}%>
                    </div>
                </div> -->
                <div class="card rounded-0 card-toggle">
                    <div class="card-header bg-black rounded-0 d-flex justify-content-between align-items-center">
                        瀏覽歷史
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="card-body bg-dark" style="display:none;">
                        <div class="article_log light">
                            無。
                        </div>
                    </div>
                </div>
                <div class="card rounded-0 card-toggle">
                    <div class="card-header bg-black rounded-0 d-flex justify-content-between align-items-center">
                        論壇資訊
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="card-body bg-dark" style="display:none;">
                        <div class="mb-1">在線人數:<span class="online-person"></span></div>
                        <div class="mb-1">遊客人數:<span class="not-auth"></span></div>
                        <%if(config){%>
                        <div>客戶IP:<%=config.ip%></div>
                        <%}%>
                        <hr>
                        <div class="mt-2">您好，訪客(尚未登入!!)</div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="contents">
            <div class="pt-o"></div>
            <%-body%>
            <div class="pb-o"></div>
        </div>

        <div class="chat" data-ip="<%=config.ip%>" data-service="<%=layout_data.system == 'ok' ? 'ok':''%>">
            <div class="card">
                <div class="card-header d-flex">
                    <span class="default">公共聊天室</span>
                    /
                    <span>客戶服務</span>
                    <div class="ml-auto px-2 d-none change">
                        <i class="fas fa-exchange-alt"></i>
                    </div>
                </div>
                <div class="card-body px-0 py-0">
                    <div class="d-flex px-1 py-2 overflow-hidden" style="width: 250px;">
                        <div class="public flex-shrink-0 w-100 show">
                            <div id="public_msg" class="overflow-auto px-2 mb-2" style="max-height: 200px;height: 200px;">
                                <%if(config.local_msg){%>
                                <%for(item in config.local_msg){%>
                                <%if(config.local_msg[item].ip !== config.ip){%>
                                <div class="media my-3">
                                    <div class="img_box">
                                        <img width="30" height="30" src="<%=config.local_msg[item].img%>" alt=""
                                            class="d-flex mr-3" style="border-radius: 50%;">
                                        <div class="ip_box alert alert-warning m-0 p-0">
                                            <%if(!config.local_msg[item].auth){%>
                                            ip:<%=config.local_msg[item].ip%>
                                            <%}else{%>
                                            ip:會員保密。
                                            <%}%>
                                        </div>
                                    </div>
                                    
                                    <div class="user_msg media-body">
                                        <div class="text-primary"><%=config.local_msg[item].name%></div>
                                        <pre class=" text-break mb-0"><%=config.local_msg[item].msg%></pre>
                                        <small class="text-secondary"><%=config.local_msg[item].date%></small>
                                    </div>
                                </div>
                                <%}else{%>
                                <div class="media my-3">
                                    <div class="user_msg media-body text-right">
                                    <pre class="text-break mb-0"><%=config.local_msg[item].msg%></pre>
                                    <small class="text-secondary"><%=config.local_msg[item].date%></small>
                                    </div>
                                </div>
                                <%}}}%>
                            </div>
                            <form class="d-flex flex-nowrap align-items-center px-2" method="POST" action="\">
                            <input type="search" class="form-control form-control-sm" name="msg" placeholder="請輸入訊息" style="min-width: 0;">
                            <input type="hidden" name="user_pic"
                                value="<%=layout_data.user.sticker_img || '/img/user.png'%>">
                            <input type="hidden" name="user_info"
                                value="<%=layout_data.user.nick || layout_data.user.name || ''%>" data-auth="<%if(auth){%>1<%}else{%>0<%}%>">
                                <button id="send_msg" class="btn btn-sm ml-2 btn-primary" type="button" disabled>送出</button>
                                <i id="reset_nick" class="d-none fas fa-cog" title="設定暱稱"></i>
                            </form>
                            <div class="set_username px-2 d-none">
                                <p class="text-secondary">未登入訪客設定暱稱方可聊天</p>
                                <hr>
                                <label for="chat_nick">暱稱:</label>
                                <div class="d-flex flex-nowrap">
                                    <input id="chat_nick" type="text" class="form-control form-control-sm" placeholder="請輸入暱稱" maxlength="16" style="min-width: 0;">
                                    <button class="btn btn-sm ml-2 btn-primary">確定</button>
                                </div>
                                <p class="text-danger">說明:沒有登入狀態下發送訊息，其他人將可看到您的ip位置。</p>
                            </div>
                            <div class="sys_msg alert alert-warning m-0 p-0" style="position: absolute;bottom: 3px;left: 10px;display: none;">
                                發話間隔時間3秒
                            </div>
                        </div>
                        <div class="service flex-shrink-0 w-100">
                            <iframe class="overflow-hidden w-100 h-100 border-0" src="/client_service"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gotop">
            <img class="shuttle" src="/img/rocket.png" width="60" alt="">
            <i class="fas fa-fire"></i>
        </div>
    </main>

    <footer class="bg-dark p-3 pb-5 pb-md-3 text-center text-light">
        <span>就是論壇 Copyright © 2019 - <%=new Date().getFullYear()%></span>
    </footer>
    
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <%-scripts%>
    <script src="/js/particles.min.js"></script>
    <script src="/js/all.min.js"></script>
</body>

</html>