<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="mb-3 p-1 rounded">
                <nav class="d-none d-md-block kind-tag px-2 w-over-auto">
                    <div class="nav nav-tabs flex-nowrap text-nowrap">
                        <a class="nav-item nav-link<%if(path_type[0] == 'home' && path_type.length == 1){%> active<%}%>" href="/">首頁</a>
                            <%for(key in layout_data.categories){%>
                                <a class=" nav-item
                            nav-link<%if(path_type.length >= 2){if(path_type[1] == layout_data.categories[key].path){%>
                            active<%}}%>"
                            href="/forum?t=<%=layout_data.categories[key].path%>"><%=layout_data.categories[key].name%></a>
                        <%}%>
                    </div>
                </nav>

                <div class="breadcrumb px-1 pb-1 pt-0 m-0 bg-primary" style="z-index: 5;">
                    <div class="breadcrumb m-0 badge-light w-100" style="z-index: 10;">
                        <%for(index in path_type){%>
                        <%if(index == 0){%>
                        <div class="breadcrumb-item"><a href="/"><i class="fas fa-home mr-2"></i>首頁</a></div>
                        <%}%>
                                <%if(index == 1){%>
                        <%if(path_type[index] == '發表文章' || path_type[index] == '編輯文章'){%>
                        <div class="breadcrumb-item"><%=path_type[index]%></div>
                        <%}else{%>
                        <div class="breadcrumb-item"><a
                                href="forum?t=<%=path_type[index]%>"><%=layout_data.categories_type%></a></div>
                        <%}%>
                                <%}%>
                        <%if(index == 2){%>
                        <div class="breadcrumb-item"><a href="<%=category.url%>"><%=category.title%></a></div>
                        <%}%>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

