
<% layout('layout-head') -%>
<% block('head', `
    <title>就是論壇 -搜尋結果</title>
    <meta name="description" content="就是論壇，就是要分享 -${layout_data.categories_list}">
`)%>

<%include layout-banner %>
<section class="container mb-3">
    <div class="card">
        <div class="card-body">
            <%if(q.length!==0){%>
                <span><%=title%> 的搜尋結果如下:</span>
                <ul class="p-0" style="list-style-type: none;">
                    <%for(i in q){%>
                    <li class="d-block d-md-flex border-bottom px-2 py-3">
                        <div class="search-wh-md-100 mr-md-3 mb-2 mb-md-0">
                            <div class="img-cover w-100 h-100" style="background-image: url(<%=q[i].content.split('/-justforum-/')[2] || '/img/no_img.png'%>)"></div>
                        </div>
                        <div class="media-body overflow-auto d-flex flex-column">
                            <div class="overflow-auto">
                            <a class="d-inline-block" href="/article?id=<%=q[i].id%>" target="_blank">
                                <h5 class="m-0 font-weight-bold text-break"><%=q[i].title%></h5>
                            </a>
                            <br>
                            <a class="text-decoration-none" href="/article?id=<%=q[i].id%>" target="_blank">
                                <small class="text-success "><%=layout_data.local_URL%>/article?id=<%=q[i].id%></small>
                            </a>
                                <p class="m-0 text-break"><%=q[i].content.split('/-justforum-/')[1]%>...</p>
                            </div>
                            
                        </div>
                    </li>
                    <%}%>
                </ul>
                <div class="text-secondary text-center">
                    ---已經到底了喔---
                </div>
            <%}else{%>
                <span>沒有搜尋到 <%=title%> 的相關資料</span>
            <%}%>
        </div>
    </div>
</section>
